<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green Coin Trading</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/lib/stroke-7/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/lib/perfect-scrollbar/css/perfect-scrollbar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/app.css') }}" type="text/css"/>
    <link rel="shortcut icon" href="{{ url_for('static',filename='assets/img/favicon.png') }}">
    </head>
<body>

    <div class="mai-wrapper">
      <nav class="navbar navbar-expand-lg mai-sub-header">
        <div class="container">
                    <nav class="navbar navbar-expand-md">
                      <button class="navbar-toggler hidden-md-up collapsed" type="button" data-toggle="collapse" data-target="#mai-navbar-collapse" aria-controls="mai-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">       <span class="icon-bar"><span></span><span></span><span></span></span></button>
                      <div class="navbar-collapse collapse mai-nav-tabs" id="mai-navbar-collapse">
                        <ul class="nav navbar-nav">
                                    <li class="nav-item parent {% if page==('index' or 'wallet' or 'register_nfts' or 'my_nfts' or 'my_coin') %} open {% endif %}"><a class="nav-link" href="#" role="button" aria-expanded="false"><span class="icon s7-home"></span><span>Home</span></a>
                                      <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                                                  <li class="nav-item"><a class="nav-link {% if page=='index' %} active {% endif %}" href="/index"><span class="icon s7-monitor"></span><span class="name">Dashboard</span></a>
                                                  </li>

                                                  <li class="nav-item dropdown parent"><a class="nav-link {% if page=='my_nfts' %} active {% endif %} {% if page=='my_coin' %} active {% endif %}" href="ui-elements.html" data-toggle="dropdown"><span class="icon s7-diamond"></span><span class="name">My Asset</span></a>
                                                              <div class="dropdown-menu mai-sub-nav" role="menu"><a class="dropdown-item" href="/my_nfts">NFTs</a><a class="dropdown-item" href="/my_coin">Crypto</a>
                                                              </div>
                                                  </li>
                                                  <li class="nav-item dropdown parent"><a class="nav-link {% if page==('wallet') %} active {% endif %} {% if page==('register_nfts') %} active {% endif %}" href="plugins.html" data-toggle="dropdown"><span class="icon s7-plugin"></span><span class="name">My Block Chain</span></a>
                                                              <div class="dropdown-menu mai-sub-nav" role="menu"><a class="dropdown-item" href="/wallet">Wallets</a><a class="dropdown-item" href="/register_nfts">Register NFTs</a>
                                                              </div>

                                      </ul>
                                    </li>

                                    <li class="nav-item parent {% if page=='buy_nfts' %} open {% endif %} {% if page=='wind_nfts' %} open {% endif %} {% if page=='hydroeletric_nfts' %} open {% endif %} {% if page=='arbit' %} open {% endif %}"><a class="nav-link" href="#" role="button" aria-expanded="false"><span class="icon s7-diamond"></span><span>Investments</span></a>
                                      <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                                                  <li class="nav-item"><a class="nav-link {% if page=='buy_nfts' %} active {% endif %}" href="/buy_nfts"><span class="icon s7-box2"></span><span class="name">Solar-NFTs</span></a>
                                                  </li>
                                                  <li class="nav-item"><a class="nav-link {% if page=='wind_nfts' %} active {% endif %}" href="/wind_nfts"><span class="icon s7-box2"></span><span class="name">Wind-NFTs</span></a>
                                                  </li>
                                                  <li class="nav-item"><a class="nav-link {% if page=='hydroeletric_nfts' %} active {% endif %}" href="/hydroeletric_nfts"><span class="icon s7-box2"></span><span class="name">Hydroeletric-NFTs</span></a>
                                                  </li>
                                                  <li class="nav-item"><a class="nav-link {% if page=='arbit' %} active {% endif %}" href="/arbit"><span class="icon s7-box2"></span><span class="name">Spot-Futures arbitrage</span></a>

                                      </ul>
                                    </li>
                                    <li class="nav-item parent {% if page==('buy_coin') %} open {% endif %} {% if page==('option_yield') %} open {% endif %} {% if page==('buy_ele') %} open {% endif %}"><a class="nav-link" href="#" role="button" aria-expanded="false"><span class="icon s7-portfolio"></span><span>Buy Coins and Option</span></a>
                                      <ul class="mai-nav-tabs-sub mai-sub-nav nav">

                                          <li class="nav-item"><a class="nav-link {% if page=='buy_coin' %} active {% endif %}" href="/buy_coin"><span class="icon s7-cash"></span><span class="name">Green-Coin Trading</span></a></li>

                                          <li class="nav-item"><a class="nav-link {% if page=='option_yield' %} active {% endif %}" href="/option_yield"><span class="icon s7-cash"></span><span class="name">Yield Option</span></a>
                                                  </li>
                                          <li class="nav-item"><a class="nav-link {% if page=='buy_ele' %} active {% endif %}" href="/buy_ele"><span class="icon s7-cash"></span><span class="name">Electricity Trading</span></a>
                                                  </li>
                                                  </li>
                                      </ul>
                                    </li>
                                    <li class="nav-item parent {% if page==('p&l_ana') %} open {% endif %}"><a class="nav-link" href="#" role="button" aria-expanded="false"><span class="icon s7-display1"></span><span>P&L Analysis</span></a>
                                      <ul class="mai-nav-tabs-sub mai-sub-nav nav">
                                                  <li class="nav-item {% if page=='p&l_ana' %} active {% endif %}"><a class="nav-link" href="/p&l_ana"><span class="icon s7-graph"></span><span class="name">Solar-NFTs</span></a>
                                                  </li>

                                      </ul>
                                    </li>
                                    <li class="nav-item parent"><a class="nav-link" href="/logout" role="button" aria-expanded="false"><span class="icon s7-tools"></span><span>Logout</span></a>

                                    </li>
                        </ul>
                      </div>
                    </nav>
          <div class="search">
            <input type="text" placeholder="Search..." name="q"><span class="s7-search"></span>
          </div>
        </div>
      </nav>



      </div>


{% block content %}

{% endblock %}
    </body>
<script src="{{ url_for('static',filename='assets/lib/jquery/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/js/app.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/lib/jquery-flot/jquery.flot.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/lib/jquery-flot/jquery.flot.pie.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/lib/jquery-flot/jquery.flot.time.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/lib/jquery-flot/jquery.flot.resize.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/lib/jquery-flot/plugins/curvedLines.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/lib/jquery-flot/plugins/jquery.flot.tooltip.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/lib/countup/countUp.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/js/app-dashboard.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/js/app-ui-notifications.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
    //-initialize the javascript
    App.init();
    App.uiNotifications();
  });
</script>
{% block js_content %}

{% endblock %}
</body>

</html>