{% extends'layout.html' %}
{% block content %}
<div class="main-content container">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-default">
              <div class="card-header card-header-divider">Add NFTs into my portfolio<span class="card-subtitle">Add NFTs into your portfolio and start claiming profit right now</span></div>
              <div class="card-body">
                <form>
                  <div class="form-group mt-1">
                    <label for="emailExample1">NFT name</label>
                    <input class="form-control" id="emailExample1" type="text" placeholder="NFT_1">
                  </div>
                  <div class="form-group">
                    <label>Address of NFT</label>
                    <input class="form-control" type="text" placeholder="90e0cfcd4b5aae005d51822ca8a7258163cea08e">
                  </div>
                  <div class="row pt-0 pt-0 pt-lg-5">
                    <div class="col-lg-6">
                      <p class="text-right">
                        <button class="btn btn-space btn-primary" type="submit">Submit</button>
                      </p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
</div>

{%  endblock %}
{% block js_content %}
<script type="text/javascript">
      $(document).ready(function(){
      	//-initialize the javascript
      	App.init();
      	App.dashboard();
      });
</script>
{%  endblock %}